<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8">
    <title>Create an product</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous"></head>
<body>
<div class="container">

    <h2>Create Product | <a onclick="document.forms['logoutForm'].submit()">Logout</a></h2>
    <form method="POST" th:object="${productForm}" th:action="@{/products}">
        <div class="form-group">
            <input type="text" th:field="*{title}" class="form-control" placeholder="title" autofocus="true">
            <span class="has-error" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
        </div>

        <div class="form-group">
            <input type="text" th:field="*{description}" class="form-control" placeholder="description" autofocus="true">
            <span class="has-error" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
        </div>

        <div class="form-group">
            <input type="number" th:field="*{listPrice}" class="form-control" placeholder="listPrice" autofocus="true">
            <span class="has-error" th:if="${#fields.hasErrors('listPrice')}" th:errors="*{listPrice}"></span>
        </div>

        <div class="form-group">
            <input type="text" th:field="*{salePrice}" class="form-control" placeholder="salePrice" autofocus="true">
            <span class="has-error" th:if="${#fields.hasErrors('salePrice')}" th:errors="*{salePrice}"></span>
        </div>

        <div class="form-group">
            <input type="number" th:field="*{vatRate}" class="form-control" placeholder="vatRate" autofocus="true">
            <span class="has-error" th:if="${#fields.hasErrors('vatRate')}" th:errors="*{vatRate}"></span>
        </div>

        <div class="form-group">
            <input type="number" th:field="*{quantity}" class="form-control" placeholder="quantity" autofocus="true">
            <span class="has-error" th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}"></span>
        </div>

        <div class="form-group">
            <label for="currency">Currency</label>
            <select class="form-control" th:field="*{currency}" id="currency">
                <option th:each="currency : ${currencies}"
                        th:value="${currency.id}"
                        th:text="${currency.name}">currency
                </option>
            </select>
            <span class="has-error" th:if="${#fields.hasErrors('currency')}" th:errors="*{currency}"></span>
        </div>

        <div class="form-group">
            <label for="currency">Category</label>
            <select class="form-control" th:field="*{categories}" id="categories" multiple>
                <option th:each="category : ${categories}"
                        th:value="${category.id}"
                        th:text="${category.name}">brand
                </option>
            </select>
            <span class="has-error" th:if="${#fields.hasErrors('categories')}" th:errors="*{categories}"></span>
        </div>
        <small class="form-text text-muted">You can add images after creating product.</small>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
    </form>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script></body>
</html>
